@import '../../styleguide/styleguide.scss';

.wrapper {
  width: 50%;
  max-width: 1000px;
  border: 1px solid $primaryColor;
  margin: 0 auto;
  padding: 1.5rem;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  background-color: $secondaryColor;
}

.wrapper form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6rem 6rem 6rem 6rem 6rem 6rem 6rem;
  grid-column-gap: 3rem;
  overflow: auto;
  max-height: 50vh;
  border: 1px solid $primaryColor;
  padding: 1.5rem;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0.5rem;
}

.buttonWrapper {
  margin-top: 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buttonWrapper button {
  width: 100%;
}

input {
  width: 10rem;
  height: 1rem;
}

select {
  width: calc(10rem + 5px);
}

.customMessage {
  display: flex;
  color: $dangerousColor;
  margin: 0;
  align-items: center;
  height: 2rem;
}
