@import '../../styleguide/styleguide.scss';

.wrapper {
  width: 70%;
  border: 1px solid $primaryColor;
  margin: 0 auto;
  padding: 1.5rem;
  padding-bottom: 5rem;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  background-color: $secondaryColor;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem 1fr;
  gap: 10px;
  grid-template-areas:
    't t'
    'l r';
  // position: relative;
}

.left,
.right {
  width: 100%;
}

.left {
  grid-area: l;
}

.right {
  grid-area: r;
}

.title {
  grid-area: t;
}

textarea {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid $primaryColor;
}

.dateItem {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.membersItems {
  width: 100%;
  height: 21.3rem;
  margin: 0 auto;
  overflow: auto;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 1.5rem;
}

.membersItems li {
  list-style-type: none;
}

.membersItems input {
  width: 1rem;
  margin-right: 1rem;
}

.membersTitle {
  margin-bottom: 0.5rem;
}

.buttonWrapper {
  margin-top: 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}

.buttonWrapper button {
  width: 100%;
}
