@import '../../styleguide/styleguide.scss';

.wrapper {
  width: 100%;
  border: 1px solid $primaryColor;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: $secondaryColor;
}

.taskPageContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 3rem;
  @media (max-width: 830px) {
    grid-column-gap: 2rem;
  }
  @media (max-width: 650px) {
    grid-column-gap: 1rem;
  }
  @media (max-width: 550px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}

.left,
.right {
  width: 100%;
}

.right {
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.wrapper form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 8rem 6rem 6rem;
}

textarea {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid $primaryColor;
}

.dateItem {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.membersTitle {
  margin-bottom: 0.5rem;
}

.membersItems {
  width: 100%;
  max-height: 26rem;
  height: fit-content;
  margin: 0 auto;
  overflow: auto;
  padding: 0 1.5rem;
}

.membersItems ul {
  padding: 0;
}

.membersItems li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.membersItems input {
  width: 1rem;
  margin-right: 1rem;
}

.membersTitle {
  margin-bottom: 0.5rem;
}

.customMessage {
  display: flex;
  margin: 0;
  align-items: center;
  height: 4rem;
}

.membersName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  max-width: 20rem;
  width: 100%;
  margin: 0;
}
