@import '../../styleguide/styleguide.scss';

.buttonWrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buttonWrapper button {
  width: 100%;
}

.tableWrapper {
  margin: 0 auto;
  width: fit-content;
}

#createTask {
  margin-bottom: 1rem;
}
