$primaryColor: #0080a4;
$secondaryColor: #f2f2f2;
$font: 'Roboto', Sans-serif;
$textColor: #383436;
$activeColor: #964c63;
$border: 1px solid #dcc2cb;
$activeTextWeight: 700;

h1,
h2 {
  color: $textColor;
  font-family: $font;
  text-align: center;
}

button {
  background-color: $secondaryColor;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  padding: 1px 16px;
  font-weight: 800;
  &:hover {
    background-color: $primaryColor;
    color: $secondaryColor;
  }
}

.dangerousButton {
  // background-color: #ffdce5;
  color: #ff0800;
  border: 1px solid #ff0800;
  &:hover {
    background-color: #ff0800;
    color: #ffdce5;
  }
}

table {
  border-collapse: separate;
  border-spacing: 2px;
  margin: 0 auto;
  font-family: $font;
  color: $textColor;
  font-weight: 400;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

th,
td {
  border: 1px solid #9bc2e6;
  padding: 8px;
  text-align: center;
}

th {
  background-color: $primaryColor;
  color: #ffffff;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

tbody tr:nth-child(odd) {
  background-color: #ddebf7; /* фон нечетных строк */
}

tbody tr:nth-child(even) {
  background-color: #b4daf2; /* фон четных строк */
}
