@import '../../styleguide/styleguide.scss';

.wrapper {
  width: 30%;
  max-width: 500px;
  border: 1px solid $primaryColor;
  margin: 0 auto;
  padding: 1.5rem;
  overflow: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: $secondaryColor;
}

.form {
  display: grid;
  grid-template-rows: 6rem 6rem 6rem 3rem;
}

.wrapper form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7.5rem 7.5rem 7.5rem;
}

.buttonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buttonWrapper button {
  width: 100%;
  margin-left: auto;
}

.customMessage {
  display: flex;
  margin: 0;
  align-items: center;
  height: 4rem;
}
