@import '../../styleguide/styleguide.scss';
@import '../common/TableHeader/TableHeader.module.scss';

.buttonWrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buttonWrapper button {
  width: 100%;
  @media (max-width: 800px) {
    width: fit-content;
    margin: 0 auto;
    min-width: 0;
  }
}

.taskTrackManagementIndex,
.taskTrackManagementIndexHeader {
  max-width: 10rem;
  min-width: 7rem;
  width: 5%;
  @media (max-width: 690px) {
    display: none;
  }
}

.taskTrackManagementName,
.taskTrackManagementNameHeader,
.taskTrackManagementNoteHeader,
.taskTrackManagementNote {
  max-width: 10rem;
  min-width: 7rem;
  width: 25%;
  @media (max-width: 890px) {
    width: 20%;
  }
  @media (max-width: 640px) {
    width: 18%;
  }
  @media (max-width: 600px) {
    width: 16%;
  }
  @media (max-width: 560px) {
    width: 14%;
  }
  @media (max-width: 370px) {
    width: 12%;
  }
}

.taskTrackManagementDateHeader,
.taskTrackManagementDate {
  max-width: 10rem;
  min-width: 7rem;
  width: 10%;
  @media (max-width: 470px) {
    display: none;
  }
}

.taskTrackManagementPanelHeader,
.taskTrackManagementPanel {
  max-width: 10rem;
  min-width: 7rem;
  width: 20%;
  @media (max-width: 800px) {
    width: 10%;
  }
}

.taskTrackManagementButtonText {
  @media (max-width: 800px) {
    display: none;
  }
}

.taskTrackManagementButtonIcon {
  display: none;
  @media (max-width: 800px) {
    display: block;
    margin: 0 auto;
  }
}
