@import '../../styleguide/styleguide.scss';
@import '../common/TableHeader/TableHeader.module.scss';

.buttonWrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buttonWrapper button {
  width: 100%;
}

.taskTrackManagementIndex,
.taskTrackManagementIndexHeader {
  max-width: 10rem;
  min-width: 7rem;
  width: 5%;
}

.taskTrackManagementName,
.taskTrackManagementNameHeader,
.taskTrackManagementNoteHeader,
.taskTrackManagementNote {
  max-width: 10rem;
  min-width: 7rem;
  width: 25%;
  @media (max-width: 890px) {
    width: 20%;
  }
}

.taskTrackManagementDateHeader,
.taskTrackManagementDate {
  max-width: 10rem;
  min-width: 7rem;
  width: 10%;
}

.taskTrackManagementPanelHeader,
taskTrackManagementPanel {
  max-width: 10rem;
  min-width: 7rem;
  width: 20%;
}

.taskTrackManagementButtonText {
  @media (max-width: 800px) {
    display: none;
  }
}

.taskTrackManagementButtonIcon {
  display: none;
  @media (max-width: 800px) {
    display: block;
  }
}
