@import '../../styleguide/styleguide.scss';

.wrapper {
  width: 30%;
  max-width: 80vh;
  border: 1px solid $primaryColor;
  margin: 0 auto;
  padding: 1.5rem;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  background-color: $secondaryColor;
}

.wrapper form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 14rem 2rem;
}

.buttonWrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buttonWrapper button {
  width: 100%;
}

.customMessage {
  display: flex;
  margin: 0;
  align-items: center;
  height: 4rem;
}
