@import '../../styleguide/styleguide.scss';
@import '../common/TableHeader/TableHeader.module.scss';

.buttonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buttonWrapper button {
  width: 100%;
  min-width: 2rem;
}

.tableWrapper {
  margin: 0 auto;
  width: fit-content;
}

.register {
  margin-bottom: 1rem;
}

.memberIndex {
  @media (max-width: 400px) {
    display: none;
  }
}

.memberAge {
  max-width: 3rem;
  @media (max-width: 925px) {
    display: none;
  }
}

.memberDirection {
  .directionIcon {
    display: none;
  }
  .directionText {
    margin: 0;
  }
  @media (max-width: 690px) {
    .directionText {
      display: none;
    }
    .directionIcon {
      display: flex;
      justify-content: center;
    }
  }
}

.memberEducation {
  @media (max-width: 865px) {
    display: none;
  }
}

.memberStartDate {
  @media (max-width: 770px) {
    display: none;
  }
}

.memberButtons {
  @media (max-width: 690px) {
    min-width: 6rem;
    width: fit-content;
  }
}

.membersButtonText {
  @media (max-width: 690px) {
    display: none;
  }
}

.membersButtonIcon {
  display: none;
  @media (max-width: 690px) {
    display: block;
  }
}

.link p {
  margin-bottom: 0;
}
