@import '../../styleguide/styleguide.scss';

.buttonWrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buttonWrapper button {
  width: 100%;
}
