$primaryColor: #0080a4;
$secondaryColor: #f2f2f2;
$font: 'Roboto', Sans-serif;
$textColor: #383436;
$dangerousColor: #d04b31;

.title,
.subtitle {
  font-family: $font;
  text-align: center;
  color: $primaryColor;
}

.defaultButton {
  font-weight: 600 !important;
  color: $primaryColor !important;
  border: 1px solid $primaryColor !important;
  background-color: $secondaryColor !important;
  &:hover {
    color: $secondaryColor !important;
    background-color: $primaryColor !important;
  }
  &:disabled {
    border: 1px solid #9d9d9d !important;
    color: #9d9d9d !important;
    background-color: #fff !important;
  }
}

.dangerousButton {
  font-weight: 600 !important;
  color: $dangerousColor !important;
  border: 1px solid $dangerousColor !important;
  background-color: #fff !important;
  &:hover {
    color: $secondaryColor !important;
    background-color: $dangerousColor !important;
  }
  &:disabled {
    border: 1px solid #9d9d9d !important;
    color: #9d9d9d !important;
    background-color: #fff !important;
  }
}

.successButton {
  font-weight: 600 !important;
  color: #227447 !important;
  border: 1px solid #227447 !important;
  background-color: $secondaryColor !important;
  &:hover {
    color: $secondaryColor !important;
    background-color: #227447 !important;
  }
  &:disabled {
    border: 1px solid #9d9d9d !important;
    color: #9d9d9d !important;
    background-color: #fff !important;
  }
}

table {
  font-family: $font;
  font-weight: 400;
  margin: 0 auto;
  border-spacing: 2px;
  border-collapse: separate;
  color: $textColor;
  table-layout: fixed;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.tableHeader,
.tableData {
  padding: 8px;
  text-align: center;
  border: 1px solid #9bc2e6;
  max-width: 20rem;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
}

.tableHeader {
  text-transform: capitalize;
  color: #fff;
  background-color: $primaryColor;
}

.tableData {
  display: table-cell;
  vertical-align: inherit;
}

tbody tr:nth-child(odd) {
  background-color: #ddebf7; /* фон нечетных строк */
}

tbody tr:nth-child(even) {
  background-color: #b4daf2; /* фон четных строк */
}

.link {
  text-decoration: none;
  &:hover {
    color: #f0bb0c;
  }
}

td .link {
  color: #000000;
  &:hover {
    color: $primaryColor;
  }
}

textarea {
  overflow: auto;
}

legend {
  font-size: 1rem;
}
