@import '../../styleguide/styleguide.scss';

.wrapper {
  width: 30%;
  max-width: 500px;
  border: 1px solid $primaryColor;
  margin: 0 auto;
  padding: 1.5rem;
}

.form {
  display: grid;
  grid-template-rows: 6rem 6rem 3rem;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1rem;
}

.item button {
  width: 7rem;
}
