@import '../../styleguide/styleguide.scss';

.error {
  border: 2px solid $dangerousColor;
}

.message {
  color: $dangerousColor;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1rem;
}

.textareaItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
