@import './styleguide/styleguide.scss';

.wrapper {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  grid-template-areas:
    'h'
    'c'
    'f';
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: 1fr;
  font-family: $font;
}

.contentWrapper {
  padding: 1.5rem;
  background-color: $secondaryColor;

  grid-area: c;
}
