@import '../../../styleguide/styleguide.scss';

.memberIndexHeader,
.memberNameHeader,
.memberDirectionHeader,
.memberEducationHeader,
.memberStartDateHeader,
.memberAgeHeader,
.memberButtonsHeader,
.taskIndexHeader,
.taskNameHeader,
.taskNoteHeader,
.taskNoteDateHeader,
.memberTaskIndexHeader,
.memberTaskNameHeader,
.memberTaskStartHeader,
.memberTaskDeadlineHeader,
.memberTaskStatusHeader,
.memberTaskMarkTaskHeader,
.taskManagementIndexHeader,
.taskManagementTaskNameHeader,
.taskManagementStartDateHeader,
.taskManagementDeadlineHeader,
.taskManagementPanelHeader,
.memberTaskTrackHeader,
.taskTrackManagementIndexHeader,
.taskTrackManagementNameHeader,
.taskTrackManagementNoteHeader,
.taskTrackManagementDateHeader,
.taskTrackManagementPanelHeader {
  color: #fff;
  background-color: $primaryColor;
  padding: 8px;
  text-align: center;
  border: 1px solid #9bc2e6;
  width: fit-content;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
}
