@import '../../styleguide/styleguide.scss';

.wrapper {
  width: 30%;
  max-width: 500px;
  border: 1px solid $primaryColor;
  margin: 0 auto;
  padding: 1.5rem;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1rem;
}

.item a {
  text-decoration: underline;
  color: #000000;
  &:hover {
    color: $primaryColor;
  }
}

.item button {
  width: 7rem;
  margin-left: auto;
}
